.to-top {
  position: fixed;
  right: calc((100% - 1230px) / 2);
  bottom: 80px;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

  &__text {
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
    text-shadow: 3px 3px 11px rgba(150, 150, 150, 1);
    text-transform: uppercase;
    color: var(--color-light);
  }

  &__icon {
    @include flex-all-center;

    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: var(--light-color);
    background: var(--grenadier-color);
    transition: background-color .3s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
      fill: currentColor;
    }

    &:hover {
      background-color: var(--grenadier-color);
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @include minidesk {
    right: 20px;
    bottom: 20px;
  }

  @include mobile {
    right: 20px;
    bottom: 20px;
  }
}
